@import "../FourCardFeatureSection/styles/base/fonts";
@import "../FourCardFeatureSection/styles/libs/vars";
.header {
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(56, 56, 56, 0.781);
  // color: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  left: 0;
  height: 100%;
  width: 360px;
  z-index: 1;
  padding: 1rem 2rem;
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
  @media screen and (max-width: 460px) {
    width: 100%;
    background: rgb(78, 78, 78);
  }
  * {
    // font-family: $poppinsFontFamily;
    color: white;
  }
  // .button {
  //   position: static;
  //   margin-bottom: 1rem;
  // }
  .container {
    position: relative;
    top: 90px;
    nav {
      a {
        color: white !important;
        @media screen and(hover:hover) {
          &:hover {
            color: darken(white, 25) !important;
          }
        }
      }
    }
  }
  h1 {
    font-size: 2em;

    a {
      text-decoration: none;
    }
  }
}
.appear {
  visibility: visible;
  animation-name: appear;
}
.disappear {
  // visibility: visible;
  animation-name: disappear;
}

// .open {
//   width: 450px;
// }
// .close {
//   width: 50px;
// }

.button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  position: fixed;
  left: 1rem;
  top: 1rem;
  outline: none;
  cursor: pointer;
  z-index: 1;
  opacity: 0.8;
  @media screen and(hover:hover) {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}

@keyframes appear {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
    // visibility: visible;
  }
}

@keyframes disappear {
  from {
    transform: translateX(0);
    visibility: visible;
  }
  to {
    transform: translateX(-100%);
    visibility: hidden;
  }
}
